@import "./global.scss";

body,
html,
#app-mount {
  width: 100%;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
